
<mat-toolbar color="primary" class="wrapper sticky">
    <nav class="navbar-fixed-top">
      <a href="#" class="logo">
        <mat-icon>storefront</mat-icon>
        BiblioTECH
      </a>
      <ul>
        <li>
          <button mat-raised-button class="button-spacer"(click)="handleCadastro()">Sign Up</button>
        </li>
        <li>
          <button mat-raised-button class="button-spacer" color="primary" (click)="handleCadastro()">Log In</button>
        </li>
      </ul>
    </nav>
</mat-toolbar>

<mat-toolbar  color="primary" class="footer" >
  <h2>Feito com ❤️ por @Amanda Azevedo </h2>
</mat-toolbar>


